@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --white: #fff;
    --light: #eeeded;
    background-color: #fcd1d1;
}
body{
    width: 100%;
    font-family: system-ui;
    overflow: hidden;
}
.container{
    margin-left: 5%;
    width:90%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 65% 35%;
    row-gap: 5px;
}
.container .cart{
    background-color: var(--white);
}
.container .center{
    background-color: var(--light);
}
.center h2{
    padding:20px;
}
.center .list{
    padding:0 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
.item{
    background-color: var(--white);
    display: grid;
    grid-template-columns: 40% auto;
    padding:10px;
    column-gap: 20px;
    border-radius: 20px;
}
.item .img img{
    height:80px;
    width: 120px;
}
.item .img{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .content .title{
    font-weight: bold;
}
.item .content .des{
    font-size: small;
    opacity: 0.7;
    margin-top:5px;
}
.item .content .price{
    color:var(--orange);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: small;
    margin-top:5px;
}
.item .count{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding:3px 5px;
    border:1px solid var(--light);
    outline: none;
     margin-top:5px;
}
.item .content .add{
    margin-top:5px;
    background-color:#cb1c1c;
    color:var(--white);
    padding:5px 10px;
    border:none;
    border-radius: 10px;
}
.item .content .remove{
    padding:5px;
    border:none;
    margin-top:5px;
    border-radius: 10px;
    display: none;
}

/* end center */
.cart .item{
    transition: 0.5s;
    border-bottom: 1px solid var(--light);
}
.cart .name{
    height:40px;
    font-weight: bold;
    font-size: xx-large;
    border-bottom:1px solid var(--light)
}
.danger{
    box-shadow: 0 10px 10px var(--orange);
    transform: translate(0,-10px);
}
.cart .add{
    display: none;
}
.cart .remove{
    display: inline-block!important;
}