*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .meun{
    width: 100%;
    height: 100vh;
    background-color: #fcd1d1;;
  }
  .vip{
    background-color: #edcaff;
    width: 60%;
    height: 700px;
  }
.note{
    height: 50px;
}
.container{
    background-color: #ffffff;
    margin:auto;
    padding:30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    height: 500px;
    column-gap: 5%; 
    align-items: center;
}
.a1ngay{
    height: 200px;
    background-color: #f86c6c;
    box-shadow: 0 100px 1000px #d70a0a;
    text-align: justify;
}
.img1 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
.a1tuan{
    height: 200px;
    background-color: #f86c6c;
    box-shadow: 0 100px 1000px #d70a0a;
    text-align: justify;
}
.img2 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
.a1thang{
    height: 200px;
    background-color: #f86c6c;
    box-shadow: 0 100px 1000px #d70a0a;
    text-align: justify;
} 
.img3 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
.a3thang{
    height: 200px;
    background-color: #f86c6c;
    text-align: justify;
}
.img4 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
.a6thang{
    height: 200px;
    background-color: #f86c6c;
    text-align: justify;
}
.img5 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
.a1nam{
    height: 200px;
    background-color: #f86c6c;
    text-align: justify;
}
.img6 {
    height: 170px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("z4184044056779_9f9f52025cd592d4427dfa789747ae6c.jpg");
    background-size: 100%;
    
}
  /* modal-body */
  .modal-body{
    height: 150px;
    background: rgb(186, 228, 235);

  }

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }