*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 100%;
    height: 100vh;
    background-color: #fcd1d1;;
  }
  
  /* Calendar */
  .calendar{
    width: 60%;
    height: 650px;
    background: rgb(255, 255, 255);

  }
  .calendar .month{
    width: 100%;
    height: 15%;
    padding: 20px 30px;

    background-image: linear-gradient(
      90deg,
      #ff9a8b 0%,
      #ff6a88 55%,
      #ff99ac 100%
    );
    justify-content: space-between !important;
    text-align: center;
  }
  .month h1{
    text-transform: uppercase;
    font-size: 30px;
  }
  .month p{
    font-weight: 300;
    color: rgba(0,0,0,0.8)
  }
  .weekdays{
    background: #a5aaf3;
    width: 100%;
    padding: 10px;
    height: 5%;
    padding: 0;
  }
  .weekdays div{
    width: calc(100% / 7);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px;
    transition: 0.2s;
  }
  .days{
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 0;
  }
  .days li{
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: center;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  .days .previous-day{
    color: rgba(255, 0, 0, 0.35)
  }
  .days .next-days{
    color: rgba(255, 0, 0, 0.35)
  }
  .days .today{
    background: #ff0000;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    transition: 0.2s;
  }
  /*hover di chuột qua phần tử */
  .days .today:hover{
    background: #12e72e;
  }
  .days li:not(.today):hover{
    border-radius: 0;
    border: 0.5px solid rgb(0, 255, 4);
    background: rgba(0,0,0,0.25);
    cursor: pointer;
  }
/*màu nền khi 1 phần tử được chọn và màu chữ*/
ul li.checked {
    background: #f9c7d9;
    color: #000000;
  }

  .not {
    background-color: rgb(119, 119, 119);
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 0;
  }
  .not div{
    color: white;
    width: calc(100% / 3);
    text-align: center;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  .prev,
  .next{
    cursor: pointer;
  }
  
