<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
</head>
<body>
    <div class="note">
        <h1>MONEY MANAGER</h1>
    </div>
    <div class="container">
        <div class="sign_up">
            <a href="{% url 'web:sign_up' %}"><h1><center>Đăng kí</center></h1></a>
            </div>
    </div>
    <div class="container1">
        <div class="sign_in">
            <a href="{% url 'web:sign_in' %}"><h1><center>Đăng Nhập</center></h1></a>
            </div>
    </div>
    <div class="note1">
        <h3><center><marquee width="50%">Chào mừng bạn đến với trang web của chúng tôi.Chúc bạn có những trải nghiệp khó quên</marquee></center></h3>
    </div>
</body>
</html>