<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/meun.css" />
</head>
<body>
<div class="home">
    <div class="profile">
        <div class="avatar">
            <img src="static/image/avt.jpg" alt="">
        </div>
        <div class="name">
            <div class="specialize"><h2><center>Thông Tin Người Dùng</center></h2></div>
            <div class="contact">
                <p>
                    <span>N</span> +...
                </p>
                <p>
                    <span>J</span> +..
                </p>
                <p>
                    <span>P</span> +...
                </p>
            </ul>
        </div>

        </div>
        <ul>
            <li class="dropdown">
                <a class="dropbtn"><span>Cài đặt</span></a>
                <div class="dropdown-content">
                    <a href="#">Thông tin cá nhân</a>
                    <a href="#">Cài đặt web</a>
                    <a href="{% url 'web:home' %}">Đăng xuất </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="tien_thu">
            <div class="img">
                <a href="{% url 'web:tien_thu' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Tiền Thu</h2></a>
            </div>
        </div>
        <div class="tien_chi">
            <div class="img">
                <a href="{% url 'web:tien_chi' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Tiền Chi</h2></a>
            </div>
            
        </div>
        <div class="tong_ket_thu_chi">
            <div class="img">
                <a href="{% url 'web:tong_ket_thu_chi' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Tổng Kết thu chi</h2></a>
            </div>
            
        </div>
        <div class="bieu_do_thu">
            <div class="img">
                <a href="{% url 'web:bieu_do_chi' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Biểu đồ thu</h2></a>
            </div>
            
        </div>
        <div class="bieu_do_chi">
            <div class="img">
                <a href="{% url 'web:bieu_do_chi' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Biểu đồ chi</h2></a>
            </div>
            
        </div>
        <div class="nang_cap_vip">
            <div class="img">
                <a href="{% url 'web:nang_cap_vip' %}">
                    <img src="static/image/meun.jpg"  alt="" class="img-thumbnail img-avt" >
                    <h2>Nâng cấp VIP</h2></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

