<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo Trang sign_in</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/sign_up.css" />

</head>
<body>
    <section>
        <!--Kết Thúc Phần Hình Ảnh-->
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung">
            <div class="form">
                <h2>Trang Đăng kí</h2>

                <form action="{% url 'web:sign_in' %}">
                    <div class="input-form">
                        <span>Họ Tên Người Dùng</span>
                        <input type="text" name="">
                    </div>
                    <div class="input-form">
                        <span>email</span>
                        <input type="email" name="">
                    </div>
                    <div class="input-form">
                        <span>Tuổi Người Dùng</span>
                        <input type="number" name="">
                    </div>
                    <div class="input-form">
                        <span for="username">SDT Người Dùng</span>
                        <input type="text" id="username" name="">
                    </div>
                    <div class="input-form">
                        <span for="password">Mật Khẩu</span>
                        <input type="password" id="password" name="">
                    </div>
                    <div class="input-form">
                        <span>Nhập Lại Mật Khẩu</span>
                        <input type="password" name="">
                    </div>
                    <div class="nho-dang-nhap">
                        <label><input type="checkbox" name=""> Lưu Đăng Nhập</label>
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Đăng Kí">
                    </div>
                    <div class="input-form">
                        <p>Bạn đã Có Tài Khoản?  <a href="{% url 'web:sign_in' %}">Đăng Nhập</a></p>
                    </div>
                </form>

                <h3>Đăng kí Bằng Mạng Xã Hội</h3>

                <ul class="icon-dang-nhap">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                </ul>
                
            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
</body>
</html>