<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/tien_thu.css" />
</head>
<body>
    <div class="meun">
        <ul class="check flex">
            <h1><center>Danh Mục</center></h1>
            <li class="add">Tiền lương</li>
            <li class="add">Tiền thưởng</li>
            <li class="add">Tiền thụ cấp</li>
            <li class="add">Tiền đầu tư</li>
            <li class="add">Thu nhập tạm thời</li>
            <li class="add">Chỉnh sửa</li>
        </ul>
        
        <div class="noi-dung">
          <div class="form">
            <div id ="container" class="listnoi-dung">

            </div>

          </div>
        </div>
    </div>
    <script src="static/js/tien_thu.js"></script>

</body>
</html>