<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/tien_chi.css" />
</head>
<body>
    <div class="meun">
        <ul class="check flex">
            <h1><center>Danh Mục</center></h1>
            <li>ĂN uống</li>
            <li>Quần áo</li>
            <li>Mỹ phẩm</li>
            <li>Y tế</li>
            <li>Giáo dục</li>
            <li>Đi lại</li>
            <li>Tiền nhà</li>
            <li>Phí giao lưu</li>
            <li>Phí Liên lạc</li>
            <li>Phí yêu đương</li>
            <li>Phí quà tặng</li>
            <li>Đầu tư/Kinh doanh</li>
            <li>Phí điện nước</li>
            <li>Chi tiêu hàng ngày</li>
            <li>Chỉnh sửa</li>
        </ul>
        <div class="note">
            
        </div>
    </div>
    <script>
//đánh dấu các mục đã hoàn thành
var list = document.querySelector('ul');//tìm phần tử đầu tiên trên trang có thẻ 'ul'
list.addEventListener('click', function(ev)//gán sự kiện 'click' cho phần tử list,"ev" trong hàm này đại diện cho sự kiện được kích hoạt.
{
    if (ev.target.tagName === 'LI') {//phần tử đc nhấn có thẻ là "LI", mã sẽ được thực thi
    //classList là một thuộc tính của phần tử HTML cho phép thêm, xóa hoặc kiểm tra sự tồn tại
    //sẽ kiểm tra xem phần tử đang có lớp checked hay không
    //checked dụng để xác định trạng thái của phần tử đó là được chọn hay không.
        ev.target.classList.toggle('checked');
}
}, false);// false, sự kiện chỉ được kích hoạt trên phần tử được chọn


    </script>
</body>
</html>