<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/tien_chi.css" />
</head>
<body>
    <div class="meun">
        <ul class="check flex">
            <h1><center>Danh Mục</center></h1>
            <li>ĂN uống</li>
            <li>Quần áo</li>
            <li>Mỹ phẩm</li>
            <li>Y tế</li>
            <li>Giáo dục</li>
            <li>Đi lại</li>
            <li>Tiền nhà</li>
            <li>Phí giao lưu</li>
            <li>Phí Liên lạc</li>
            <li>Phí yêu đương</li>
            <li>Phí quà tặng</li>
            <li>Đầu tư/Kinh doanh</li>
            <li>Phí điện nước</li>
            <li>Chi tiêu hàng ngày</li>
            <li>Chỉnh sửa</li>
        </ul>
        
        <div class="note">
            
        </div>
    </div>
    <script src="static/js/tien_chi.js"></script>

</body>
</html>