<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/tien_chi.css" />
</head>
<body>
    <div class="meun">
        <ul class="check flex">
            <h1><center>Danh Mục</center></h1>
            <li class="add">ĂN uống</li>
            <li class="add">Quần áo</li>
            <li class="add">Mỹ phẩm</li>
            <li class="add">Y tế</li>
            <li class="add">Giáo dục</li>
            <li class="add">Đi lại</li>
            <li class="add">Tiền nhà</li>
            <li class="add">Phí giao lưu</li>
            <li class="add">Phí Liên lạc</li>
            <li class="add">Phí yêu đương</li>
            <li class="add">Phí quà tặng</li>
            <li class="add">Đầu tư/Kinh doanh</li>
            <li class="add">Phí điện nước</li>
            <li class="add">Chi tiêu hàng ngày</li>
            <li class="add">Chỉnh sửa</li>
        </ul>
        
        <div class="noi-dung">
          <div class="form">
            <div id ="container" class="listnoi-dung">

            </div>

          </div>
        </div>
    </div>
    <script src="static/js/tien_chi.js"></script>

</body>
</html>